@import "../css/mixins";

.forecast-container{
	margin-top:100px;
	padding:20px;

	border:1px solid #EEE;
	border-radius:10px;

	h2{
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #EEE;
		text-align: center;

		@include mq("phone"){
			font-size:1.5rem;
		}
	}

	.switch-container{
		text-align: right;
		padding-top:20px;
		border-top:1px solid #EEE;
		margin-top:20px;

		@include mq("phone"){
			text-align: center;
		}
	}

	.forecast-row{
		justify-content: space-around;
	}
}


.dropIn-enter {
  opacity: 0.01;
}

.dropIn-enter.dropIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.dropIn-leave {
  opacity: 1;
}

.dropIn-leave.dropIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}