@import "../css/mixins";

.search-container{
	margin-top:20px;

	@include mq("phone"){
		padding: 0 30px;
		display: flex;
		justify-content: center;
	}

	input[type="text"]{
		background: none;
		margin-right:5px;
	}

	
}

@include mq("phone"){
	input[type="text"], input[type="submit"]{
		font-size:0.8rem;
	}
}
