@import "./mixins";

html,body{
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5{
	font-weight: 500;
}

body.dark-font-color{
	color: #333;

	a{
		color:#000080;
	}

	.search-container input[type="text"] {
		color: #333;
		@include placeholder(#333);	
	}

	.search-container input[type="submit"] {
		color: #000080;
		border-color: #000080;

		&:hover{
			color:#FFF;
		}
	}
}


body.light-font-color{
	color: #FFF;

	a{
		color:lighten(#0275d8, 10%);
	}

	.search-container input[type="text"] {
		color: #FFF;
		border-color: #FFF;
		@include placeholder(#FFF);	
	}

	.search-container input[type="submit"] {
		color: #FFF;
		border-color: #FFF;

		&:hover{
			color:#FFF;
		}
	}

}


#github{
	font-size:0.75rem;
	margin:5px;

	i{
		font-size:1rem;
		position: relative;
		top:1px;
	}
}